body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #e60e0e;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-weight: 600;
}

header p {
    margin: 10px 0 0;
    font-weight: 300;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

.image-container {
    position: relative;
    width: 30%;
    margin: 15px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container img {
    width: 100%;
    border-bottom: 2px solid #4CAF50;
}

.description {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 96%;
    text-align: center;
    padding: 10px;
    display: none;
}

.image-container.open .description {
    display: block;
}

footer {
    background-color: #f7d412;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}